APP_NAME=nest-mongoose-template
IP=192.168.0.106
## Email Configuration ##
EMAIL_FROM=nnsnajmussakib@gmail.com
EMAIL_USER=nnsnajmussakib@gmail.com
EMAIL_PORT=587
EMAIL_HOST=smtp.gmail.com
EMAIL_PASS=wgle inkd sbpo bofh
## jwt ##
JWT_SECRET=00000000000
JWT_EXPIRES_IN=3600s
JWT_REFRESH_EXPIRES_IN=3600s
## database ##
MONGO_URI=mongodb://localhost:27017/nest-mongoose-template
# MONGO_URI=mongodb+srv://asifaowadud:sof6vxfRNfUEvdCg@cluster0.gjcwx8p.mongodb.net/nest-mongoose-template?retryWrites=true&w=majority&appName=Cluster0
## superadmin ##
SUPER_ADMIN_PASSWORD=123456789
SUPER_ADMIN_EMAIL=admin@gmail.com
SUPER_ADMIN_NAME=Super Admin
## throttler ##